{% extends 'base.html.twig' %}

{% block title %}Hello OutlookEventController!{% endblock %}
 {% block stylesheets %}
     <link href="{{ asset('build/app.css') }}" type="text/css" rel="stylesheet" />
 {% endblock %}
{% block body %}
    <section>
        <!--for demo wrap-->
        <h1>Fixed Table header</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th>location</th>
                    <th>start</th>
                    <th>end</th>
                    <th>Type</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
            <tr>
                 {% for  event in outlookEvents %}
                <td>
                    {{ event.location.title }}
                </td>
                <td>
                    {{ event.start|date("m/d/Y") }}
                </td>
                <td>
                    {{ event.end|date("m/d/Y") }}
                </td>
                <td>
                    {{ event.type }}
                </td>
            </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>


    <!-- follow me template -->
    <div class="made-with-love">
        Made with
        <i>♥</i> by
        <a target="_blank" href="https://codepen.io/nikhil8krishnan">Nikhil Krishnan</a>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

